:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
}
@media only screen and (min-width: 376px) and (max-width: 1440px) {
    .card{
        width: 320px;
    }

}
@media only screen and (max-width: 375px) {
    body {
        width: 100%;
    }
    .card{
        width: 260px;
        margin: 10 0 ;  
    }
}
body{
    background-color: var(--Off-Black);
    color: var(--White);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    
}

.avatar{
    border-radius: 50%;
    width: 85px;
}
.card{
    border-radius: 20px;
    background-color: var(--Dark-Grey);
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    padding: 30px  33px;
}

h1{
    font-weight: normal;
    font-size: 24px;
}
.location{
    color: var(--Green);
    font-weight: 600;
}
.bio{
    font-weight: normal;
    padding: 15px 0;
}

ul{
    list-style: none;
    font-weight: 600;
    padding: 0;
}
li{
    display: block;
    background-color: var(--Grey);
    padding: 16px;
    margin-top: 16px;
    border-radius: 10px;
    
}

li:hover{
    background-color: var(--Green);
    color: var(--Dark-Grey);
    cursor: pointer;
    font-weight: 600;
    cursor: url('assets/images/cursor.png'),auto;
}